 <button nz-button (click)="scrollToIndex(200)">Scroll To Index 200</button>

<st #st [data]="data" 
[columns]="columns" 
[page]="page" 
virtualScroll [scroll]="{ x: '1300px', y: '240px' }">


  <ng-template st-row="id" let-item let-index="index">
 <span nz-tooltip [nzTitle]="item.id">
    <ellipsis [lines]="1">
      {{item.id}}
    </ellipsis>
 </span>
  </ng-template>

   <ng-template st-row="price" let-item let-index="index">
     <span nz-tooltip [nzTitle]="item.price">
    <ellipsis [lines]="1">
       {{item.price}}
    </ellipsis>
    </span>
   </ng-template>
</st>